@media screen and (min-width: 1025px) {
    #projects div:first-child {
        margin-right: 15px;
    }

    #projects div:last-child {
        margin-left: 15px;
    }
}

#projects div:first-child {
    margin-bottom: 15px;
}

#projects div:last-child {
    margin-bottom: 15px;
}