:root {
  --jet: #2C2F33;
  --eerie-black: #212223;
  --platinum: #E0E0E0;
  --harvest-gold: #ECA400;
}

body {
  background-color: var(--jet);
}

h, p, span {
  color: var(--platinum);
}

#root {
  margin-left: 5rem;
  margin-right: 5rem;
}

.flex-title-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: var(--light-dark);
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 1rem !important;
    transition: font-size 1s;
  }
}

.col {
  flex: 1;
  align-items: center;
  display: flex;
}

.flex-external-icons-container {
  display: flex;
  justify-content: center;
}

.flex-external-icons-container > .external-icon {
  cursor: pointer;
  margin: 10px;
  margin-top: 20px;
}

.flex-external-icons-container > .external-icon > img {
  width: 32px;
  height: 32px;
}

.title {
  color: var(--white);
  font-size: 1.7rem;
  transition: font-size 1s;
}

.empty-background {
  background-color: var(--light-dark);
  height: 15vh;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
}

.projects {
  padding: 50px;
}

.project-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}